@model IEnumerable<Wallpaper.Models.Image>

@{
    ViewBag.Title = "My Profile";
}

<h2>My Profile</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            @{
                var imgSrc = String.Format("data:image/gif;base64,{0}", item.ImageEncoding);
            }
            @{
                bool liked = false;
                foreach (var action in item.TakenActions)
                {
                    if (action.MyUser.ID == ViewBag.UserId)
                    {
                        if (action.Action == Wallpaper.Models.ActionType.Like)
                        {
                            liked = true;
                        }
                    }
                }
            }
            <img src="@imgSrc" style="width: 100%;" />
            @Html.DisplayFor(modelItem => item.BrandId)
            @Html.DisplayFor(modelItem => item.CarName)
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink((liked ? "Unike" : "Like"), "Like", new { id = item.ID }) |
            @Html.ActionLink("Unshare", "Share", new { id = item.ID })
        </div>
    }
</div>