@model PagedList.IPagedList<Wallpaper.Models.Image>

@functions{
    public string GetStatus(bool isLikedOrShared)
    {
        return isLikedOrShared ? "is-liked-shared" : "";
    }
}

@foreach (var item in Model)
{
    var imgSrc = String.Format("data:image/gif;base64,{0}", item.ImageEncoding);
    bool liked = false, shared = false;
    foreach (var action in item.TakenActions)
    {
        if (action.MyUser.ID == ViewBag.UserId)
        {
            if (action.Action == Wallpaper.Models.ActionType.Like)
            {
                liked = true;
            }
            if (action.Action == Wallpaper.Models.ActionType.Share)
            {
                shared = true;
            }
        }
    }
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="thumbnail">
                <img src="@imgSrc" />
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.BrandId) @Html.DisplayFor(modelItem => item.CarName)</h3>
                    <div class="siteActions">
                        <p>
                            <a class="socialActions" href="@Url.Action("Download", new { id = item.ID })"><i class="fa fa-fw fa-download"></i></a>
                            <a class="likeIndex socialActions" href="@Url.Action("Like", new { id = item.ID })"><i class="fa fa-fw fa-heart @GetStatus(liked)"></i></a>
                            <a class="shareIndex socialActions" href="@Url.Action("Share", new { id = item.ID })"><i class="fa fa-fw fa-share @GetStatus(shared)"></i></a>
                        </p>
                        <p>
                            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary" })<text>&nbsp;</text>
                            @if (User.IsInRole("Administrator"))
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" })<text>&nbsp;</text>
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-primary" })
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
