@model Wallpaper.Models.Image

@{
    ViewBag.Title = "Delete";
    var imgSrc = String.Format("data:image/gif;base64,{0}", Model.ImageEncoding);
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<hr />
<div>
    <div class="row" style="display: flex;">
        <div class="col-md-8">
            <img src="@imgSrc" style="max-width: 100%; height: auto;" class="img-rounded" />
        </div>
        <div class="col-md-4" id="detailsInfo">
            <dl style="font-size: 1.4em;">
                <dt>
                    @Html.DisplayNameFor(model => model.BrandId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.BrandId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CarName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CarName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BodyTypeId)
                </dt>

                <dd>
                    @(String.IsNullOrEmpty(Model.BodyTypeId) ? "unknown" : Model.BodyTypeId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ColorId)
                </dt>

                <dd>
                    @(String.IsNullOrEmpty(Model.ColorId) ? "unknown" : Model.ColorId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.YearId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.YearId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Size)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Size)
                </dd>
            </dl>
        </div>
    </div>

    <br />

    @using (Html.BeginForm()) {
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
