@model PagedList.IPagedList<Wallpaper.Models.Image>

@{
    ViewBag.Title = "Home";
}

<div id="homeCreate">
    <a href="@Url.Action("Index")"><h2 style="display: inline-block;">Home</h2></a>
    @if (User.IsInRole("Administrator"))
    {
        <div style="display: inline-block;">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
        </div>
    }
</div>

<hr />

<form class="form-inline" method="get" action="@Url.Action("Index")"
      data-w-ajax="true" data-w-target="#imageList">
    <h4>Regular search</h4>
    <p>
        @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = "Search" }) <!--, ViewBag.CurrentFilter as string)-->
        <input class="btn btn-default" type="submit" value="Search" />
    </p>
</form>

<hr />

<form method="get" id="formId" action="@Url.Action("Index")" data-w-target="#imageList">
    <h4>Filter by category</h4>
    <div class="row">
        <div class="col-md-3 form-group">
            <label for="ddlBrand">Select brand:</label>
            @Html.DropDownList("Brand", new SelectList(ViewBag.Brands, "Name", "Name", ViewBag.CurrentBrand), " ", new { @class = "form-control", id = "ddlBrand" })
        </div>
        <div class="col-md-3 form-group">
            <label for="ddlColor">Select color:</label>
            @Html.DropDownList("Color", new SelectList(ViewBag.Colors, "Val", "Val", ViewBag.CurrentColor), " ", new { @class = "form-control", id = "ddlColor" })
        </div>
        <div class="col-md-3 form-group">
            <label for="ddlYear">Select year:</label>
            @Html.DropDownList("Year", new SelectList(ViewBag.Years, "Val", "Val", ViewBag.CurrentYear), " ", new { @class = "form-control", id = "ddlYear" })
        </div>
        <div class="col-md-3 form-group">
            <label for="ddlBodyType">Select body type:</label>
            @Html.DropDownList("BodyType", new SelectList(ViewBag.BodyTypes, "Val", "Val", ViewBag.CurrentBodyType), " ", new { @class = "form-control", id = "ddlBodyType" })
        </div>
    </div>
    <input type="submit" value="Filter" class="btn btn-default" />
</form>

<hr />

@Html.Partial("_Images", Model)